
/* Variables */

:root {
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-blue: #5496BD;

  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33;

  --basic-white: #ffffff;
  --basic-dirty-white: #EEEEEE;

  --basic-black: #000000;
  --basic-lightblack: #333333;
  --basic-extra-gray: #666666;

  --special-white: #F2F2F2;
  --special-lightgray: #EBEBEB;

  --basic-extra-black: #231F20;
  --basic-gray: #BDBBBC;

  --special-transparent-black: rgba(0, 0, 0, .30);
  --special-transparent-white: rgba(255, 255, 255, .30);

  --border-gray: #e5e5e5;

  --special-activebrown: #766357;
  }


/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  }

.navigation-list {
  list-style: none;
}

.navigation-item:nth-child(1),
.navigation-item:nth-child(2) {
  text-align: left;
}

.navigation-item:nth-child(3),
.navigation-item:nth-child(4) {
  text-align: right;
}

/* User navigation */

.navigation-list a {
  color: var(--basic-black);
}

.navigation-list a:hover {
  color: var(--basic-blue);
}

.navigation-list a:focus {
  color: var(--special-transparent-black);
}

a:not([href]) {
  color: var(--special-activebrown);
}

a:not([href]):focus,
a:not([href]):hover {
  color: var(--special-activebrown);
}

/* Reasons */

.main-reasons-slogan {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  }

.main-reasons p {
  text-align: center;
  line-height: 26px;
}

/* Advantages */

.advantages-list {
  list-style: none;
}

.advantages-item {
  text-align: center;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.item-wrap {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.item-wrap h3 {
  font-size: 21px;
  line-height: 21px;
}

.bestdeal h2 {
  text-align: center;
}

.enter-dates {
  text-align: center;
}

/* Sorting */

.sorting-counter {
  font-size: 21px;
  Line-height: 26px;
  font-weight: bold;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--special-transparent-black);
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-item a:hover, 
.sorting-item a:focus {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-item a:active {
  color: var(--basic-black);
  border: none;
}

.active a {
  color: var(--basic-blue);
  border: none;
}

/* Buttons */

.btn-findhotel {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
}

.btn-findhotel:focus,
.btn-findhotel:hover {
  background-color: var(--basic-dark-brown);
}

.btn-findhotel:active {
  background-color: var(--basic-extra-brown);
  color: var(--special-transparent-white);
}

.btn-find {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.btn-find:focus,
.btn-find:hover {
  background-color: var(--basic-dark-blue);
}

.btn-find:active {
  background-color: var(--basic-extra-blue);
  color: var(--special-transparent-white);
}

.btn-show {
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.btn-show:focus,
.btn-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.btn-about {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.btn-about:focus,
.btn-about:hover {
  background-color: var(--basic-dark-blue);

}

.btn-about:active {
  background-color: var(--basic-extra-blue);
  color: var(--special-transparent-white);
}

.btn-book {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special-activebrown);
  border: none;
}

.btn-book:focus,
.btn-book:hover {
  background-color: var(--basic-dark-brown); 
}

.btn-book:active {
  background-color: var(--basic-extra-brown);
  color: var(--special-transparent-white);
}


/* Booking-form */

.booking-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  vertical-align: middle;
}

.booking-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--special-white);
  border: none;
}

.booking-item input:hover, 
.booking-item input:focus {
  background-color: var(--special-lightgray);
}

.booking-item input:active {
  background-color: var(--basic-white);
  border: 2px solid var(--special-lightgray);
}

.infrastructure, 
.housing,
.cost {
  border: none;
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-contact a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contact span {
  text-align: left;
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
 }

.footer-contact a {
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
 }

.footer-contact-us {
  color: var(--basic-black);
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
 }

/* Filters */

.filters {
  background-color: var(--basic-blue);
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  font-weight: bold;
}

.filter ul {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

/* Deals */

.deals-item {
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.deals-item h3 {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.deals-item p {
  color: var(--basic-lightblack);
}

.deals-item span {
  color: var(--basic-lightblack);
}

.rating {
  color: var(--basic-extra-gray);
  text-align: center;
  background-color: var(--special-white);
}


/* Icons */

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-list-link:hover {
  background-color: var(--basic-dark-blue);
}

.social-list-link:active svg {
  opacity: 0.3;
}

.logo-htmlacademy:hover, 
.logo-htmlacademy:focus {
  fill: var(--basic-blue);
}

.logo-htmlacademy:active {
  fill: var(--basic-gray);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



